Parsers/test/algun.dtd

<!ELEMENT root (elem1,elem2,elem3,elem3,elem4)>
<!ELEMENT elem1 (elem1,elem2,elem3,elem3,elem4)>
<!ELEMENT elem2 EMPTY>
<!ELEMENT elem3 (#PCDATA)>
<!ELEMENT elem4 (otro*)>
<!ELEMENT otro (#CDATA|algomas*)>
<!ATTLIST elem1 version CDATA "1.12358">
<!ATTLIST elem3 att1 CDATA #REQUIRED>
<!ATTLIST elem3 att2 #FIXED "algo2">
<!ATTLIST elem3 att3 #IMPLIED>
<!ATTLIST otro att #IMPLIED>

